*{
    background-color: #BA9572;
}

/* Aqui na section eu apliquei as estilizacoes do box model */
section{
    border: 2px dotted black;
    border-width: 5px;
    padding: 1%;
    margin: 10px 50px 20px;
}

/* No titulo eu coloquei uma tag de classe por isso o uso do ponto e utilizei de uma fonte externa, text align center para deixar o titulo no meio da pagina */
.titulo{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: #403327;
    font-size: 50px;
}

ul{
list-style-type: square;
}

h2{
    color: antiquewhite;
}

#footer{
    text-align: center ;
}

section{
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
    align-items: center;
    right: 10px;
    left: 10px;
}

/*aula sobre position */
body{
    margin: 0;
    height: 100vh;
}

.container{
    width: 500px;
    height: 500px;
    margin-top: 20px;
    border: 2px solid;
}

.static{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 255, 0, 0.3);
    position: static;
}

.relative{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.3);
    position: relative;
    left: 30px;
    top: 30px;
}

.absolute{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.3);
    position: absolute;
    right: 30px;
    top: 30px;
}

.fixed{
    width: 100px;
    height: 100px;
    background-color: rgb(221, 255, 0);
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.sticky{
    position: sticky;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 0, 225, 0.3);
    top: 2px;
}

/*aula sobre position */
